@import "tailwindcss";

body {
  background-color: #e7eaee;
  font-family: "Barlow Semi Condensed", sans-serif;
}

@theme {
  --color-black: #121212;
  --color-dark-blue: #19202d;
  --color-white: #ffffff;
  --color-grey-100: #e7eaee;
  --color-grey-200: #cfcfcf;
  --color-grey-400: #676d7e;
  --color-grey-500: #48556a;
  --color-purple-50: #ede4ff;
  --color-purple-300: #a775f1;
  --color-purple-500: #733fc8;
}

@utility text-preset-1 {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0px;
  font-weight: 600;
}

@utility text-preset-2 {
  font-size: 13px;
  line-height: 110%;
  letter-spacing: 0px;
  font-weight: 500;
}

@utility text-preset-3 {
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0px;
  font-weight: 500;
}

@utility text-preset-4 {
  font-size: 11px;
  line-height: 110%;
  letter-spacing: 0px;
  font-weight: 500;
}