@import "tailwindcss";

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

@theme {
  --color-black: #121212;
  --color-dark-blue: #19202D;
  --color-white: #FFFFFF;
  --color-grey-100: #E7EAEE;
  --color-grey-200: #CFCFCF;
  --color-grey-400: #676D7E;
  --color-grey-500: #48556A;
  --color-purple-50: #EDE4FF;
  --color-purple-300: #A775F1;
  --color-purple-500: #733FC8;
}

@utility text-preset-1 {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0px;
  font-weight: 600;
}

@utility text-preset-2 {
  font-size: 13px;
  line-height: 110%;
  letter-spacing: 0px;
  font-weight: 500;
}

@utility text-preset-3 {
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0px;
  font-weight: 500;
}

@utility text-preset-4 {
  font-size: 11px;
  line-height: 110%;
  letter-spacing: 0px;
  font-weight: 500;
}